/* COLORES */
/*FONTS */
@font-face {
  font-family: "asapregular";
  src: url('../fonts/../font/asap-regular.eot?1434468862');
  src: url('../fonts/../font/asap-regular.eot?&1434468862#iefix') format('embedded-opentype'), url('../fonts/../font/asap-regular.woff?1434468860') format('woff'), url('../fonts/../font/asap-regular.ttf?1434468862') format('truetype');
}
@font-face {
  font-family: "asaplight";
  src: url('../fonts/../font/asap-light.eot');
  src: url('../fonts/../font/asap-light.eot?#iefix') format('embedded-opentype'), url('../fonts/../font/asap-light.woff') format('woff'), url('../fonts/../font/asap-light.ttf') format('truetype');
}
@font-face {
  font-family: "asapbold";
  src: url('../fonts/../font/asap-bold.eot?1434468860');
  src: url('../fonts/../font/asap-bold.eot?&1434468860#iefix') format('embedded-opentype'), url('../fonts/../font/asap-bold.woff?1434468860') format('woff'), url('../fonts/../font/asap-bold.ttf?1434468860') format('truetype');
}
@font-face {
  font-family: "robotolihgt";
  src: url('../fonts/../font/roboto-light.eot?1430327512');
  src: url('../fonts/../font/roboto-light.eot?&1430327512#iefix') format('embedded-opentype'), url('../fonts/../font/roboto-light.woff?1430327512') format('woff'), url('../fonts/../font/roboto-light.ttf?1430327512') format('truetype');
}
@font-face {
  font-family: "robotoregular";
  src: url('../fonts/../font/roboto-regular.eot?1430327512');
  src: url('../fonts/../font/roboto-regular.eot?&1430327512#iefix') format('embedded-opentype'), url('../fonts/../font/roboto-regular.woff?1430327512') format('woff'), url('../fonts/../font/roboto-regular.ttf?1430327512') format('truetype');
}
@font-face {
  font-family: "harabara";
  src: url('../fonts/../font/harabara.eot?1441038981');
  src: url('../fonts/../font/harabara.eot?&1441038981#iefix') format('embedded-opentype'), url('../fonts/../font/harabara.woff?1441038981') format('woff'), url('../fonts/../font/harabara.ttf?1441038981') format('truetype');
}
@font-face {
  font-family: "opensans-regular";
  src: url('../fonts/../font/opensans/opensans-regular.eot?1441039324');
  src: url('../fonts/../font/opensans/opensans-regular.eot?&1441039324#iefix') format('embedded-opentype'), url('../fonts/../font/opensans/opensans-regular.woff?1441039324') format('woff'), url('../fonts/../font/opensans/opensans-regular.ttf?1441039324') format('truetype');
}
@font-face {
  font-family: "opensans-bold";
  src: url('../fonts/../font/opensans/opensans-bold.eot?1441039324');
  src: url('../fonts/../font/opensans/opensans-bold.eot?&1441039324#iefix') format('embedded-opentype'), url('../fonts/../font/opensans/opensans-bold.woff?1441039324') format('woff'), url('../fonts/../font/opensans/opensans-bold.ttf?1441039324') format('truetype');
}
@font-face {
  font-family: "opensans-light";
  src: url('../fonts/../font/opensans/opensans-light.eot?1441039324');
  src: url('../fonts/../font/opensans/opensans-light.eot?&1441039324#iefix') format('embedded-opentype'), url('../fonts/../font/opensans/opensans-light.woff?1441039324') format('woff'), url('../fonts/../font/opensans/opensans-light.ttf?1441039324') format('truetype');
}
/*MIXIN */
/* GENERAL ELEMENTS */
* {
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
*:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}
* a {
  text-decoration: none !important;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 47px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/* CLASSES */
.full-weidth {
  width: 100%;
}

.container {
  width: 1024px;
}

.header-fixed {
  margin-top: 80px;
}

* {
  font-family: "robotoregular";
}

header {
  margin-top: -80px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.cont-nav-header {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  position: relative;
  background: white;
  z-index: 9999;
  height: 100%;
}
.cont-nav-header .cont-elemt {
  height: 80px;
}
.cont-nav-header .cont-buttom {
  padding: 15px;
}
.cont-nav-header .cont-buttom h4 {
  font-family: "harabara";
  padding-left: 20px;
  color: #DE4D63;
  float: right;
}
.cont-nav-header .cont-list .menu-movil {
  float: right;
}
.cont-nav-header .cont-list .menu-movil li a {
  font-size: 16px;
  color: #DE4D63;
  padding: 30px 15px;
}
.cont-nav-header .cont-list .menu-movil li a:hover {
  color: white;
  background: #DE4D63;
}
.cont-nav-header .cont-list .menu-movil li a:hover svg path {
  fill: white;
}
.cont-nav-header .cont-list .menu-movil li.active a {
  background: #DE4D63;
  color: white;
}
.cont-nav-header .cont-list .desplegable-cat svg {
  width: 15px;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu {
  padding: 0px;
  margin-top: -1px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: inset 0px -5px 0px 0px #DE4D63;
  -webkit-box-shadow: inset 0px -5px 0px 0px #DE4D63;
  box-shadow: inset 0px -5px 0px 0px #DE4D63;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu:before {
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 120px;
  content: "";
  top: -10px;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li {
  border-bottom: solid 1px #969696;
  padding: 5px 0 5px 0;
  padding-right: 0px;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li:last-child {
  border-bottom: 0px;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li a {
  color: #636363 !important;
  padding: 10px !important;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li a:hover {
  background: none !important;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li:hover {
  background: #DE4D63;
}
.cont-nav-header .cont-list .desplegable-cat .dropdown-menu li:hover a {
  color: #ffffff !important;
}
.cont-nav-header .cont-list .desplegable-cat svg {
  margin-left: 10px !important;
}
.cont-nav-header .cont-list .desplegable-cat.open a {
  color: white;
}
.cont-nav-header .cont-list .desplegable-cat.open .desplagable {
  background: #DE4D63 !important;
}
.cont-nav-header .cont-list .desplegable-cat.open .desplagable svg {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cont-nav-header .cont-list .desplegable-cat.open .desplagable svg path {
  fill: white;
}

/*CONTENT-SLIDER */
.image {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 680px;
}
.image:after {
  background: #DE4D63;
  position: absolute;
  height: 3px;
  bottom: -100px;
  content: "";
  z-index: 0;
  width: 50%;
  left: 0;
}
.image:before {
  background: #DE4D63;
  position: absolute;
  height: 3px;
  bottom: -100px;
  content: "";
  z-index: 0;
  width: 50%;
  right: 0;
}
.image .text-slide {
  position: relative;
}
.image .text-slide .transfor-skew {
  background-image: url(../img/petalo-fondo.png);
  position: absolute;
  height: 247px;
  width: 397px;
  top: 200px;
  left: 0;
}
.image .text-slide .text-promo {
  position: absolute;
  padding: 20px;
  color: #ffffff;
  width: 500px;
  top: 220px;
  left: 82px;
}
.image .text-slide .text-promo h3 {
  margin: 0px;
  font-size: 39px;
}
.image .text-slide .text-promo h1 {
  margin: 0px;
  font-size: 52px;
}
.image .text-slide .text-promo h2 {
  margin: 0px;
}

/* NAV-DIRECT */
.direct-nav {
  position: relative;
  z-index: 1;
}
.direct-nav .cont-elemt {
  width: 100%;
}
.direct-nav .cont-elemt ul li {
  height: 100px;
  float: left;
  width: 25%;
}
.direct-nav .cont-elemt ul li a {
  display: table;
  height: 100%;
  width: 100%;
  float: left;
}
.direct-nav .cont-elemt ul li a .cont-img-text {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.direct-nav .cont-elemt ul li a .cont-img-text svg {
  margin-left: 20px;
  width: 45px;
  float: left;
}
.direct-nav .cont-elemt ul li a .cont-img-text h6 {
  font-family: "opensans-bold";
  display: inline-block;
  color: #CE3636;
  padding: 7px 8px;
}
.direct-nav .cont-elemt ul li:nth-child(2) h6 {
  margin-right: 40px;
}
.direct-nav .cont-elemt ul li:nth-child(3) h6 {
  margin-right: 50px;
}
.direct-nav .cont-elemt ul li:nth-child(4) h6 {
  margin-right: 100px;
}
.direct-nav .cont-elemt ul .purpure {
  border-right: solid 1px #DE4D63;
  -moz-box-shadow: inset 0 -3px 0 0 #DE4D63;
  -webkit-box-shadow: inset 0 -3px 0 0 #DE4D63;
  box-shadow: inset 0 -3px 0 0 #DE4D63;
}
.direct-nav .cont-elemt ul .purpure:hover {
  -moz-box-shadow: inset 0 -5px 0 0 #CE3636;
  -webkit-box-shadow: inset 0 -5px 0 0 #CE3636;
  box-shadow: inset 0 -5px 0 0 #CE3636;
}
.direct-nav .cont-elemt ul .blue {
  border-right: solid 1px #DE4D63;
  -moz-box-shadow: inset 0 -3px 0 0 #DE4D63;
  -webkit-box-shadow: inset 0 -3px 0 0 #DE4D63;
  box-shadow: inset 0 -3px 0 0 #DE4D63;
}
.direct-nav .cont-elemt ul .blue:hover {
  -moz-box-shadow: inset 0 -5px 0 0 #CE3636;
  -webkit-box-shadow: inset 0 -5px 0 0 #CE3636;
  box-shadow: inset 0 -5px 0 0 #CE3636;
}
.direct-nav .cont-elemt ul .red {
  border-right: solid 1px #DE4D63;
  -moz-box-shadow: inset 0 -3px 0 0 #DE4D63;
  -webkit-box-shadow: inset 0 -3px 0 0 #DE4D63;
  box-shadow: inset 0 -3px 0 0 #DE4D63;
}
.direct-nav .cont-elemt ul .red:hover {
  -moz-box-shadow: inset 0 -5px 0 0 #CE3636;
  -webkit-box-shadow: inset 0 -5px 0 0 #CE3636;
  box-shadow: inset 0 -5px 0 0 #CE3636;
}
.direct-nav .cont-elemt ul .salmon {
  -moz-box-shadow: inset 0 -3px 0 0 #DE4D63;
  -webkit-box-shadow: inset 0 -3px 0 0 #DE4D63;
  box-shadow: inset 0 -3px 0 0 #DE4D63;
}
.direct-nav .cont-elemt ul .salmon:hover {
  -moz-box-shadow: inset 0 -5px 0 0 #CE3636;
  -webkit-box-shadow: inset 0 -5px 0 0 #CE3636;
  box-shadow: inset 0 -5px 0 0 #CE3636;
}

/*SLIDER-BOTTOM */
.slide-bottom {
  padding-bottom: 50px;
}
.slide-bottom h3 {
  text-align: left;
  font-weight: 800;
  padding: 0px 0px 50px 0px;
  color: #DE4D63;
}
.slide-bottom .height-slide {
  height: 500px;
}
.slide-bottom .height-slide .slide-cont {
  margin-top: 140px;
}
.slide-bottom .height-slide .slide-cont .info-slide {
  width: 50%;
}
.slide-bottom .height-slide .slide-cont .cont-left {
  height: 200px;
  position: relative;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text {
  position: absolute;
  padding: 10px;
  width: 200px;
  height: 122px;
  top: -140px;
  right: 20%;
  display: table;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-1 {
  background-color: #DE4D63;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-2 {
  background-color: #F7931E;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-2 h2 {
  font-size: 52px !important;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-2 span {
  border-left: solid 2px white;
  padding-left: 7px;
  font-size: 40px;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-3 {
  background-color: #CE3636;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text.text-4 {
  background-color: #9A1D78;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text h2 {
  text-align: center;
  position: relative;
  color: white;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text h2.tit-1:before {
  border-bottom: 20px solid #DE4D63;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: 10px;
  content: "";
  bottom: -30px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text h2.tit-2:before {
  border-bottom: 20px solid #F7931E;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: 10px;
  content: "";
  bottom: -30px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text h2.tit-3:before {
  border-bottom: 20px solid #CE3636;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: 10px;
  content: "";
  bottom: -30px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slide-bottom .height-slide .slide-cont .cont-left .fondo-text h2.tit-4:before {
  border-bottom: 20px solid #9A1D78;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: 10px;
  content: "";
  bottom: -30px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slide-bottom .height-slide .slide-cont .cont-left .img-parrafo {
  padding-left: 20px;
  margin: 0 auto;
  float: left;
  width: 100%;
}
.slide-bottom .height-slide .slide-cont .cont-left .img-parrafo a {
  float: left;
}
.slide-bottom .height-slide .slide-cont .cont-left .img-parrafo a img {
  float: left;
  height: 370px;
}
.slide-bottom .height-slide .slide-cont .cont-left .img-parrafo a p {
  padding: 21px 0 0 15px;
  color: #636363;
  max-width: 300px;
  text-align: left;
  width: 300px;
  float: left;
}

.control-gen {
  background: none !important;
}
.control-gen .icon-arrow {
  position: absolute;
  left: -30px;
  top: 45%;
}
.control-gen .icon-arrow-right {
  position: absolute;
  right: -30px;
  top: 45%;
}

/*PRODUCT-HOME */
.section-produt {
  padding-bottom: 50px;
}
.section-produt .list-product-home li {
  padding-top: 90px;
}
.section-produt .list-product-home li img {
  width: 420px;
}
.section-produt .list-product-home li .info-general {
  position: relative;
}
.section-produt .list-product-home li .info-general .info-product {
  position: relative;
  padding-top: 100px;
  width: 460px;
}
.section-produt .list-product-home li .info-general .info-product .text-info {
  background: #CE3636;
  text-align: right;
  padding: 20px;
  color: white;
}
.section-produt .list-product-home li .info-general .info-product .text-info h2 {
  margin-top: 0px;
}
.section-produt .list-product-home li .info-general .info-product .text-info p {
  padding-left: 90px;
}
.section-produt .list-product-home li .info-general .info-product .text-info:after {
  background-image: url(../img/flor-text.png);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  height: 85px;
  width: 136px;
  left: 10px;
  bottom: 0px;
}
.section-produt .list-product-home li .info-general .info-product:before {
  border-bottom: 20px solid #CE3636;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: -30px;
  content: "";
  bottom: 75px;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.section-produt .list-product-home li .info-general .info-product:after {
  background-image: url(../img/flor-product1.png);
  background-repeat: no-repeat;
  background-size: 64px;
  position: absolute;
  content: "";
  height: 62px;
  width: 63px;
  right: 0px;
  top: 20px;
}
.section-produt .list-product-home li .info-general .button-more {
  position: absolute;
  bottom: -130px;
  left: 170px;
}
.section-produt .list-product-home li .info-general .button-more a {
  font-family: "robotoregular";
  text-align: center;
  color: #CE3636;
  padding-top: 40px;
  font-size: 20px;
  display: block;
  width: 130px;
  height: 75px;
}
.section-produt .list-product-home li .info-general .button-more a svg {
  position: absolute;
  bottom: -30px;
  width: 160px;
  left: -10px;
  z-index: -1;
}
.section-produt .list-product-home li .info-general .button-more a svg path {
  fill: none;
  stroke: #CE3636;
  stroke-width: 3px;
}
.section-produt .list-product-home li .info-general .button-more a:hover {
  color: white;
}
.section-produt .list-product-home li .info-general .button-more a:hover svg path {
  fill: #CE3636;
}
.section-produt .list-product-home li .info-left .info-product .text-info {
  background: #F7931E;
  text-align: left;
}
.section-produt .list-product-home li .info-left .info-product .text-info p {
  padding-right: 90px;
  padding-left: 0px;
}
.section-produt .list-product-home li .info-left .info-product .text-info:after {
  transform: rotate(180deg);
  left: 300px;
  top: 100px;
}
.section-produt .list-product-home li .info-left .info-product:after {
  left: 0;
  background-image: url(../img/flor-product2.png);
}
.section-produt .list-product-home li .info-left .info-product:before {
  left: 450px;
  transform: rotate(450deg);
  border-bottom: 20px solid #F7931E;
}
.section-produt .list-product-home li .info-left .button-more a {
  color: #F7931E;
}
.section-produt .list-product-home li .info-left .button-more a svg path {
  stroke: #F7931E;
}
.section-produt .list-product-home li .info-left .button-more a:hover svg path {
  fill: #F7931E;
}
.section-produt .list-product-home li .info-right-pink .info-product .text-info {
  background: #DE4D63;
}
.section-produt .list-product-home li .info-right-pink .info-product:after {
  background-image: url(../img/flor-product3.png);
}
.section-produt .list-product-home li .info-right-pink .info-product:before {
  border-bottom: 20px solid #DE4D63;
}
.section-produt .list-product-home li .info-right-pink .button-more a {
  color: #DE4D63;
}
.section-produt .list-product-home li .info-right-pink .button-more a svg path {
  stroke: #DE4D63;
}
.section-produt .list-product-home li .info-right-pink .button-more a:hover svg path {
  fill: #DE4D63;
}

/* OUR-CLIENTS */
.our-clients {
  padding-bottom: 50px;
}
.our-clients h3 {
  text-align: left;
  padding: 50px 0;
  color: #DE4D63;
  font-weight: 800;
}
.our-clients ul li {
  text-align: center;
  padding: 25px 10px;
  border: solid 1px #969696;
}
.our-clients ul li:nth-child(1n+4) {
  margin-top: 50px;
}
.our-clients ul li:nth-child(3n+1) {
  margin-left: 40px;
}
.our-clients ul li img {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzMjc4ZiIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTVhMjQiIHN0b3Atb3BhY2l0eT0iMC43Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(147, 39, 143, 0.7)), color-stop(100%, rgba(241, 90, 36, 0.7)));
  background-image: -moz-linear-gradient(left, rgba(147, 39, 143, 0.7) 0%, rgba(241, 90, 36, 0.7) 100%);
  background-image: -webkit-linear-gradient(left, rgba(147, 39, 143, 0.7) 0%, rgba(241, 90, 36, 0.7) 100%);
  background-image: linear-gradient(to right, rgba(147, 39, 143, 0.7) 0%, rgba(241, 90, 36, 0.7) 100%);
  border-radius: 50%;
  padding: 4px;
}
.our-clients ul li p {
  color: color-text;
  padding-top: 15px;
  position: relative;
}
.our-clients ul li p:before {
  background-image: url(../img/comillas-right.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 22px;
  width: 25px;
  content: "";
  right: 0;
  top: -8px;
}
.our-clients ul li p:after {
  background-image: url(../img/comillas.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 22px;
  width: 25px;
  content: "";
  left: 0;
  top: -8px;
}

/*BOTTOM-NAV */
/*PAG-CATEGORY */
.category {
  padding: 50px 0;
}
.category .cont-row {
  margin: 0 20px;
}
.category .cont-row .cont-left {
  padding: 0;
}
.category .cont-row .cont-left .nav-category {
  width: 100%;
  border: solid 1px #969696;
}
.category .cont-row .cont-left .nav-category li {
  border-right: solid 1px #969696;
  text-align: center;
  position: relative;
  float: left;
  width: 25%;
}
.category .cont-row .cont-left .nav-category li:last-child {
  border: none;
}
.category .cont-row .cont-left .nav-category li:first-child a svg path {
  fill: #9A1D78;
}
.category .cont-row .cont-left .nav-category li a {
  padding: 10px 10px;
  position: relative;
  background: none;
}
.category .cont-row .cont-left .nav-category li a .arreglos {
  top: 16px;
}
.category .cont-row .cont-left .nav-category li a svg {
  vertical-align: middle;
  width: 40px;
}
.category .cont-row .cont-left .nav-category li a h6 {
  display: inline-block;
  color: #636363;
  padding-right: 20px;
}
.category .cont-row .cont-left .nav-category li a h6 h6 {
  color: #ffffff;
}
.category .cont-row .cont-left .nav-category li a h6 svg path {
  fill: #ffffff !important;
}
.category .cont-row .cont-left .nav-category li.active:before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  -moz-transform: rotate(361deg);
  -ms-transform: rotate(361deg);
  -webkit-transform: rotate(361deg);
  transform: rotate(361deg);
  right: 45%;
  content: "";
  bottom: -1px;
}
.category .cont-row .cont-left .nav-category li.active h6 {
  color: #ffffff;
}
.category .cont-row .cont-left .nav-category li.active svg path {
  fill: #ffffff !important;
}
.category .cont-row .cont-left .nav-category li:hover a h6 {
  color: #ffffff;
}
.category .cont-row .cont-left .nav-category li:hover a svg path {
  fill: #ffffff !important;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+1):hover {
  background: #9A1D78;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+1).active {
  background: #9A1D78;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+2):hover {
  background: #05c6e5;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+2).active {
  background: #05c6e5;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+3):hover {
  background: #8FBC20;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+3).active {
  background: #8FBC20;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+4):hover {
  background: #db233a;
}
.category .cont-row .cont-left .nav-category li:nth-child(0n+4).active {
  background: #db233a;
}
.category .cont-row .cont-right {
  float: left;
}
.category .cont-row .cont-right .tab-content .section-event {
  text-align: center;
  color: #636363;
}
.category .cont-row .cont-right .tab-content .section-event p {
  margin: 0 auto;
  width: 80%;
}
.category .cont-row .cont-right .tab-content .section-event .cont-aviso {
  width: 920px;
}
.category .cont-row .cont-right .tab-content .cont-nav-event {
  padding-top: 50px;
}
.category .cont-row .cont-right .tab-content .cont-nav-event ul {
  margin-bottom: 30px;
  border: 0px;
}
.category .cont-row .cont-right .tab-content .cont-nav-event ul li {
  text-align: center;
  width: 25%;
}
.category .cont-row .cont-right .tab-content .cont-nav-event ul li.active a {
  -moz-box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
  -webkit-box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
  box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
}
.category .cont-row .cont-right .tab-content .cont-nav-event ul li a {
  border: 0px !important;
  padding-bottom: 5px;
  font-size: 20px;
  color: #9A1D78;
}
.category .cont-row .cont-right .tab-content .cont-nav-event ul li a:hover {
  -moz-box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
  -webkit-box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
  box-shadow: inset 0px -3px 0px 0px #9A1D78 !important;
  border: 0px #ffffff !important;
  background: none;
}
.category .cont-row .cont-right .tab-content .cont-nav-event .bottom-info {
  text-align: center;
  margin-top: 50px;
}
.category .cont-row .cont-right .tab-content .cont-nav-event .bottom-info .bottom-more-info {
  border: solid 1px #9A1D78;
  background: none;
  font-size: 20px;
  color: #9A1D78;
}
.category .cont-row .cont-right .tab-content .cont-nav-event .bottom-info .bottom-more-info:hover {
  color: #ffffff;
  background: #9A1D78;
}
.category .cont-row .cont-right .tab-content .cont-nav-event .item-event {
  height: 400px;
}

/*LIST-PRODUCT */
.cont-product {
  padding-top: 80px;
}
.cont-product .list-product {
  margin: 0;
}
.cont-product .list-product.flores li {
  border: solid 1px #8FBC20;
}
.cont-product .list-product.flores li:before {
  border-bottom: 20px solid #8FBC20;
}
.cont-product .list-product.flores li .price-product {
  border-top: solid 1px #8FBC20;
}
.cont-product .list-product.flores li .shop-detail {
  background-color: #8FBC20;
}
.cont-product .list-product.cajas li {
  border: solid 1px #db233a;
}
.cont-product .list-product.cajas li:before {
  border-bottom: 20px solid #db233a;
}
.cont-product .list-product.cajas li .price-product {
  border-top: solid 1px #db233a;
}
.cont-product .list-product.cajas li .shop-detail {
  background-color: #db233a;
}
.cont-product .list-product li {
  border: solid 1px #05c6e5;
  margin: 0px 40px 50px 0px;
  padding: 40px 0 15px 0;
  text-align: center;
  position: relative;
  height: 460px;
  width: 30.4%;
  float: left;
}
.cont-product .list-product li:nth-child(3n+3) {
  margin-right: 0px;
}
.cont-product .list-product li:before {
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #05c6e5;
  position: absolute;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: -21px;
  left: 35px;
  content: "";
}
.cont-product .list-product li:after {
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  border-bottom: 19px solid #ffffff;
  position: absolute;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: -19px;
  left: 36px;
  content: "";
}
.cont-product .list-product li .cont-img-product {
  position: relative;
  overflow: hidden;
}
.cont-product .list-product li .price-product {
  border-top: solid 1px #05c6e5;
  width: 100%;
  padding: 10px;
}
.cont-product .list-product li .price-product h6 {
  margin: 10px 0 5px 0;
}
.cont-product .list-product li .price-product h6:first-child {
  color: #8FBC20;
}
.cont-product .list-product li .shop-detail {
  background-color: #05c6e5;
  position: absolute;
  bottom: -78px;
  opacity: 0.8;
  width: 100%;
  left: 0px;
}
.cont-product .list-product li .shop-detail a {
  padding: 8px 0 0 0;
  color: #ffffff;
  float: left;
  width: 50%;
}
.cont-product .list-product li .shop-detail a h6 {
  font-family: "robotolihgt";
}
.cont-product .list-product li .shop-detail a:last-child {
  -moz-box-shadow: inset 1px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 1px 0px 0px 0px #ffffff;
  box-shadow: inset 1px 0px 0px 0px #ffffff;
}
.cont-product .list-product li:hover .shop-detail {
  bottom: 0px;
}
.cont-product .list-product li.agotado .price-product h6:first-child {
  color: #DD5B22;
  font-weight: 600;
}

/*DETAIL-PRODUCT */
.cont-detail {
  padding: 80px 0 110px;
  float: left;
}
.cont-detail .detail-img {
  width: 50%;
}
.cont-detail .detail-img img {
  width: 450px;
}
.cont-detail .info-detail {
  background-color: #05c6e5;
  font-family: "robotolihgt";
  margin-top: 10%;
  color: #ffffff;
  width: 50%;
}
.cont-detail .info-detail .descript {
  border-top: solid 1px #ffffff;
  font-family: "robotolihgt";
  padding: 5px 15px;
}
.cont-detail .info-detail .descript h2 {
  text-align: center;
}
.cont-detail .info-detail .descript h5 span {
  font-family: "robotoregular";
  float: right;
}
.cont-detail .info-detail .descript:first-child {
  border: none !important;
}
.cont-detail .bottom-detail {
  background-color: #DE4D63;
  border-top: 4px solid #ffffff;
}
.cont-detail .bottom-detail .bottom-shop {
  background-color: transparent;
  font-family: "robotolihgt";
  text-align: center;
  font-size: 23px;
  padding: 10px;
  border: none;
  width: 100%;
}
.cont-detail .bottom-detail .bottom-shop:hover {
  background-color: #BA3E56;
}

.recommended {
  float: left;
  width: 100%;
}
.recommended h3 {
  padding: 20px 0 50px 0;
  position: relative;
  color: #DE4D63;
}
.recommended h3:after {
  position: absolute;
  background: #DE4D63;
  width: 630px;
  bottom: 65px;
  height: 1px;
  right: 0px;
  content: "";
}
.recommended .slide-detail {
  padding: 50px 0;
}

/*FORMULARIO */
.form-contact {
  padding: 20px 0;
}
.form-contact .form-date h4 {
  padding-bottom: 20px;
  color: #636363;
}
.form-contact .form-date .form-group {
  width: 100%;
  padding-bottom: 10px;
}
.form-contact .form-date .form-group input {
  padding: 20px 10px;
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #969696;
  width: 100%;
  border-radius: 0px;
}
.form-contact .form-date .form-group input:focus {
  border-bottom: solid 1px #969696 !important;
}
.form-contact .coment {
  padding: 50px 10px 20px 10px;
}
.form-contact .coment textarea {
  resize: none;
  height: 170px;
  border: none;
  box-shadow: none;
  border-left: solid 1px #969696;
  border-bottom: solid 1px #969696;
  width: 100%;
}
.form-contact .coment textarea:focus {
  border-bottom: solid 1px #969696 !important;
  border-left: solid 1px #969696 !important;
}
.form-contact .coment .button-sen-massage {
  padding-top: 95px;
}
.form-contact .coment .button-sen-massage .send-message {
  background-color: white !important;
}
.form-contact .coment .button-sen-massage .send-message h6 {
  border: none !important;
  color: #DE4D63;
  position: relative;
}
.form-contact .coment .button-sen-massage .send-message h6:after {
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  height: 85px;
  width: 100%;
  left: 28px;
  bottom: 0px;
}

.user-messge {
  padding-bottom: 30px;
}
.user-messge h4 {
  padding-bottom: 20px;
  color: #636363;
  margin: 0 auto;
  position: relative;
}
.user-messge h4:first-child {
  width: 80%;
}
.user-messge h4:first-child:after {
  background: #CE3636;
  position: absolute;
  width: 500px;
  content: "";
  height: 5px;
  bottom: 0;
  left: 120px;
}
.user-messge .contact {
  padding: 50px;
  width: 600px;
  margin: 0 auto;
}
.user-messge .contact .text-contact {
  padding: 15px;
  background: #05c6e5;
  position: relative;
}
.user-messge .contact .text-contact:before {
  border-bottom: 25px solid #05c6e5;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  position: absolute;
  left: 60px;
  content: "";
  bottom: -25px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.user-messge .contact .text-contact .border-dashed {
  border-style: dashed;
  border-color: #ffffff;
  padding: 15px;
}
.user-messge .contact .text-contact .border-dashed h1 {
  color: #ffffff;
  margin-top: 0px;
}
.user-messge .contact .text-contact .border-dashed h4 {
  color: #ffffff;
  padding: 5px;
}

/*FOOTER: */
footer {
  background: #DE4D63;
  /* MEDIA QUERIES */
}
footer .cont-footer {
  position: relative;
}
footer .cont-footer .info-footer {
  padding: 20px 0;
  color: white;
}
footer .cont-footer .info-footer img {
  padding-bottom: 20px;
}
footer .cont-footer .icon-social {
  position: absolute;
  bottom: 130px;
  left: 180px;
}
footer .cont-footer .icon-social a {
  display: inline-block;
}
footer .cont-footer .icon-social a:first-child {
  margin-right: 500px;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }

  .cont-list .menu-movil li {
    padding-right: 0px !important;
  }

  /* OUR CLIENTS */
  .our-clients ul li {
    margin-left: 0px !important;
  }
}
@media (max-width: 767px) {
  .cont-nav-header {
    height: auto !important;
    padding-bottom: 20px;
  }
  .cont-nav-header .cont-buttom a {
    float: left;
  }
  .cont-nav-header .cont-buttom a h4 {
    font-size: 25px;
  }
  .cont-nav-header .cont-buttom .buttom-movil {
    background: #ffffff;
  }
  .cont-nav-header .cont-buttom .buttom-movil span {
    background: #05c6e5;
  }
  .cont-nav-header ul {
    width: 100%;
  }
  .cont-nav-header .cont-list {
    margin-top: 20px;
  }
  .cont-nav-header .cont-list .menu-movil {
    float: none !important;
  }
  .cont-nav-header .cont-list .desplegable-cat .dropdown-menu {
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
    margin-top: 0px;
  }
  .cont-nav-header .cont-list .desplegable-cat .dropdown-menu:before {
    display: none;
  }
  .cont-nav-header .cont-list .desplegable-cat .dropdown-menu li {
    border-bottom: 0px;
    padding: 0px;
  }
  .cont-nav-header .cont-list .desplegable-cat .dropdown-menu li a {
    color: #ffffff !important;
  }
}
@media (max-width: 370px) {
  .cont-nav-header .cont-buttom .buttom-movil {
    margin-top: 25px;
  }
  .cont-nav-header .cont-buttom a {
    text-align: center;
    width: 210px;
  }
  .cont-nav-header .cont-buttom a h4 {
    width: 100%;
    padding-left: 0px;
  }
}
